@import "tailwindcss";

body {
  background-color: #EBEADE;
  font-family: "Arial_Narrow", Helvetica, sans-serif;
}

@font-face {
  font-family: 'Arial_Narrow';
  src: url("/fonts/Arial Narrow.ttf") format("truetype");
  font-weight: normal, bold;
}