@import "tailwindcss";

body {
  background-color: #EBEADE;
  font-family: "Arial_Narrow", Helvetica, sans-serif;
}

@font-face {
  font-family: 'Arial_Narrow';
  src: url("../../public/fonts/Arial Narrow.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Arial_Narrow';
  src: url("../../public/fonts/Arial Narrow Bold.ttf") format("truetype");
  font-weight: bold;
}